@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #1a1a1a;
  --text: #ffffff;
  --input-bg: #333333;
  --input-text: #ffffff;
  --button-bg: #3b82f6;
  --button-text: #ffffff;
  --sidebar-bg: #f8dfdf;
  --sidebar-text: #ffffff;
  --sidebar-hover: #3b82f6;
  --sidebar-active: #2563eb;
}

body {
  background-color: var(--background);
  color: var(--text);
}

input[type="text"],
input[type="file"] {
  background-color: var(--input-bg);
  color: var(--input-text);
  border-color: #4a4a4a;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

button:hover {
  background-color: #2563eb;
}

button:disabled {
  background-color: #4b5563;
}